<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script>
       setTimeout(function() {
            var flashMessage = document.querySelector('.flash-message');
            flashMessage.remove();
       }, 3000);

    </script>
</head>
<body class="login_body">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-message alert alert-success" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form action="/login" method="POST">
    <div class="container">
        <div class="row box">
            <div class="row-md-4">
                <h3>Login Here</h3>
                <div class="inputbox">
                    <input type="email" name="email" autocomplete="off" placeholder="Email" required>
                </div>
            </div>
            <div class="row-md-2"></div>
            <div class="row-md-4">
                <div class="inputbox">
                    <input type="password" name="password" autocomplete="off" placeholder="Password" required>
                </div>
                <div class="row-md-2">
                    <div class="inputbox">
                        <span><a href=""> Forget Password ? </a> </span>
                        <input type="submit" name="submit">
                    </div>
                </div>
                <div class="sml_msg">
                    <label>Don't Have An Account ?<a href="/signup"> Sign Up </a></label><br>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>